* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body {
    background-color: rgb(255, 255, 255);
}

.rosarivo-regular {
    font-family: "Rosarivo", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
  .rosarivo-regular-italic {
    font-family: "Rosarivo", cursive;
    font-weight: 400;
    font-style: italic;
  }

.navbar {
    background-color: #333;
    overflow: hidden;
    height: 8vh;
    z-index: 2; 
    position: relative; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}

.nav-links {
    display: flex;
}

.navbar a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 20px; 
    text-decoration: none;
    font-size: 1.2rem; 
    font-family: "Rosarivo";
    margin-right: 1vw;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.logo_navbar {
    height: auto;
    width: 3rem; 
    display: flex;
    justify-content: left; 
}


.hero {
    background-image: url('../bilder/Vikingskip_joinus.jpg'); 
    background-size: cover;
    background-position: center;
    height: 92vh; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    position: relative; 
    z-index: 1;
}

.color-overlay {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1; 
}

.hero-text {
    margin-left: 50px;
    max-width: 500px;
    position: relative; 
    z-index: 1;
}

.hero-text h1 {
    font-size: 3rem;
}

.hero-text p {
    font-size: 1.2rem;
}

.skjema {
    display: flex;
    flex-direction: column;
    align-items: center; 
    position: absolute;  
    right: 20vh;      
    width: 30%;  
    height: 75%;          
    background-color: rgb(34, 37, 67);
    z-index: 2;         
}

.box {
    width: 100%;         
    padding: 20px;      
}

.box-title {
    text-align: center;  
    font-size: 1.5rem;    
    margin-bottom: 10px; 
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    font-size: 1rem; 
}

input, select {
    padding: 10px; 
    font-size: 1rem; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
}

button {
    padding: 10px;
    font-size: 1rem; 
    background-color: #333; 
    color: white; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
}

button:hover {
    background-color: #555; 
}




